
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
hr{
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 15%;
  margin: 100px auto;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
	font-family: inherit;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: red;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #FC5C7D;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: #FBD786;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .topnav {
  overflow: hidden;
  letter-spacing: 3px;
  font-size: 16px;
}

#header .topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}
/* End Header section */

/* Hero Section */
#home h1 {
  font-size: 7rem;
}
#home .home{
	background-image: image("image-01.jpg");
	background-size: cover;
	background-position: top center;
	position: relative;
}
#home .about-img{
  height: 100%;
  width: 100%;
  position: relative;

}
#home::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #FBD786;
	opacity: .7;
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
  text-align: center;
}
#home h1 {
	display: block;
	font-size: 4rem;
	position: relative;
	color: red;
}


/* About Section */
#about .about {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid #fffbd5;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	z-index: -1;
  border: 10px solid PINK;
}

#about .col-left {
  width: 600px;
  height: 400px;
  padding-left: 60px;
}

#about .col-right {
  text-align: left;
  padding: 30px;
}
#about .col-right h1 {
  text-align: left;
}
#about h2{
  color: #C06C84;
	font-family: monospace;
}
#about a{
  color: #C06C84;
		font-family: monospace;
}
/* End About Section */

/* Education Section */
#education .education {
	flex-direction: column;
	 margin: 100px auto 100px auto;
}

#education::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #FBD786;
	opacity: .7;
	z-index: -1;
}
#education h5{
	color: #6A82FB;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
	text-align: center;
	font-family: cursive;
}
#education h6{
	color: #FC5C7D;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 15px;
	letter-spacing: .05rem;
	text-align: center;
}
#education p{
	color: black;
	font-size: 1.4rem;
	letter-spacing: .05rem;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}
#education .section-title{
	color:#fdbb2d;
	font-family: sans-serif;
}


/* End About Education */
/* Hobby Section */
#hobby .hobby {
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
}
/* Create three equal columns that floats next to each other */
#hobby .column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
#hobby .row:after {
  content: "";
  display: table;
  clear: both;
}
#hobby .section-title{
	color: #FC5C7D;
}
#hobby  .hobby-fa{
  font-size: 50px;
  color:#FC5C7D;
}
#hobby h3{
	color: #6A82FB;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	letter-spacing: 2px;
	font-family: cursive;
}
#hobby h2{
	color: #6A82FB;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 20px;
	letter-spacing: 2px;
	font-family: Snell Roundhand, cursive;
}
#hobby p{
	color: black;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	letter-spacing: 2px;
}
/* End About hobby */
/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items {
	width: 400px;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
#contact .contact {
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
  justify-content: center;
  min-width: 20vh;
}
#contact .contact-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}
#contact .contact-item {
  width: 30%;
  margin: 0;
  flex-direction: row;
}
#contact .contact-item .icon {
  height: 100px;
  width: 100px;
}
#contact .contact-item .contact-info {
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

#contact p.contact-submit-holder {
    margin-top: 40px;
    margin-bottom: 0 !important;
}
#contact .contact-form input[type=submit] {
    display: inline-block;
    border: 2px solid;
    text-align: center;
    padding: 20px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    letter-spacing: 5px;

}

/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #fffbd5 0%, #FBD786 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer .social-icon {
	display: flex;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 5px 5px;
}

#footer p {
	color: black;
	font-size: 15px;
}
/* End Footer */
/* Register */



#register .wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fdeff9;
}

#register .registration_form{
	background: #ACB6E5;
	padding: 25px;
	border-radius: 5px;
	width: 400px;
}

#register .registration_form .title{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: black;
	letter-spacing: 5px;
	font-weight: 700;
}

#register .registerbtn{
	width: 100%;
	background: #eaafc8;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}
#register .regs{
	width: 100%;
	padding: 10px;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#register .regtext{
	color: black;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#register a{
	color: black;
	text-decoration: none;
	text-align: center;
	padding-left: 10px;
	font-size: 16px;
}
#register .padleft{
	padding-left: 50px;
}
/* End Register */
